<p-button label="Logout" (onClick)="onLogout()" />

<p>task-list works!</p>

<div class="add-task-form">
  <h3>Nieuwe Taak Toevoegen</h3>
  <input type="text" [(ngModel)]="newTask.title" placeholder="Titel van de taak">
  <input type="text" [(ngModel)]="newTask.description" placeholder="Beschrijving">
  <button (click) = "addTask()" [disabled]="!newTask.title">Toevoegen</button>
</div>

<div class="container">
  <h2>Mijn Taken</h2>

  @if (loading$ | async) {
    <p>Taken laden...</p>
  } @else {
    <ul class="task-list">
      @for (task of (tasks$ | async); track task.id) {
        <li class="task-item">
          <div class="task-info">
            <input type="checkbox" [checked]="task.status == TaskStatus.Done" disabled>
            <span [class.completed]="task.status == TaskStatus.Done">
              <strong>{{ task.title }}</strong> - {{ task.description }}
            </span>
          </div>
          <button (click)="deleteTask(task.id)" class="btn-delete">Verwijder</button>
        </li>
      } @empty {
        <p>Geen taken gevonden. Voeg er een toe!</p>
      }
    </ul>
  }
</div>